<div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="{% url 'login' %}" class="logo d-flex align-items-center">
            <span class="sitename">Oncoscreen</span>
          </a>
          <div class="footer-contact pt-3">
            <p>Chethakkal, Ranny</p>
            <p>Kerala, India 689677</p>
            <p class="mt-3"><strong>Phone:</strong> <span>+91 987 654 3210</span></p>
            <p><strong>Email:</strong> <span>info@oncoscreen.com</span></p>
          </div>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Quick Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About OncoScreen</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Screening Packages</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Sample Collection</a></li>
            <li><a href="#">Laboratory Testing</a></li>
            <li><a href="#">Report Generation</a></li>
            <li><a href="#">Genetic Testing</a></li>
            <li><a href="#">Cancer Screening</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Packages</h4>
          <ul>
            <li><a href="#">Tumor Marker Package</a></li>
            <li><a href="#">Genetic Risk Assessment</a></li>
            <li><a href="#">Genomic Testing</a></li>
            <li><a href="#">Newborn Screening</a></li>
            <li><a href="#">Basic Health Screening</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Support</h4>
          <ul>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Data Security</a></li>
            <li><a href="#">Disclaimer</a></li>
          </ul>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">Oncoscreen</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>